.swiper-pagination {
    position: absolute;
    transform: translatey(-50%); 
    display: flex;
    justify-content: center;
    gap: 8px;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: #ffffff; 
    opacity: 0.5;
    transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
    background-color: #FFAE00; 
    opacity: 1;
    transform: scale(1.2); 
}